{% extends 'base.html' %}
{% block content %}
<div class="center-container">
    <div class="login-card">
        <h2>Cập nhật hồ sơ</h2>



        <form action="/update_profile" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <span class="icon">📧</span>
             <div style="font-size: 15px; color: #333;">{{ user.username }}@gmail.com</div>
            </div>
            <div class="input-group">
                <span class="icon">👤</span>
                <input type="text" name="name" value="{{ user.name }}" placeholder="Họ tên" required>
            </div>
            <div class="input-group">
                <span class="icon">📅</span>
                <input type="date" name="birth" value="{{ user.birth }}" required>
            </div>
            <div class="input-group">
                <span class="icon">👫</span>
                <input type="text" name="gender" value="{{ user.gender }}" placeholder="Giới tính" required>
            </div>
            <div class="input-group">
                <span class="icon">🖼️</span>
                <input type="file" name="avatar">
            </div>
            <button type="submit">Cập nhật</button>
        </form>
    </div>
</div>
{% endblock %}
